In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from statsmodels.tools.eval_measures import rmse
from scipy.stats import shapiro
from statsmodels.stats.outliers_influence import variance_inflation_factor
from warnings import filterwarnings

In [2]:
df=pd.read_csv("h1n1_vaccine_prediction.csv")

In [3]:
df

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,"MSA, Principle City",1.0,0.0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,White,Female,NaN,Not Married,Own,NaN,"MSA, Not Principle City",0.0,0.0,0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Hispanic,Female,"<= $75,000, Above Poverty",Married,Rent,Employed,Non-MSA,1.0,0.0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,"MSA, Principle City",1.0,0.0,0

# EDA

In [4]:
df.shape

(26707, 34)

In [5]:
df.head(5)

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   unique_id                  26707 non-null  int64
 1   h1n1_worry                 26615 non-null  float64
 2   h1n1_awareness             26591 non-null  float64
 3   antiviral_medication       26636 non-null  float64
 4   contact_avoidance          26499 non-null  float64
 5   bought_face_mask           26688 non-null  float64
 6   wash_hands_frequently      26665 non-null  float64
 7   avoid_large_gatherings     26620 non-null  float64
 8   reduced_outside_home_cont  26625 non-null  float64
 9   avoid_touch_face           26579 non-null  float64
 10  dr_recc_h1n1_vacc          24547 non-null  float64
 11  dr_recc_seasonal_vacc      24547 non-null  float64
 12  chronic_medic_condition    25736 non-null  float64
 13  cont_child_undr_6_mnths    25887 non-null  float64
 14  is_health_worker           25903 non-null  float64
 15  has_health_insur           14433 non-null  float64
 16  is_h1n1_vacc_effective     26316 non-null  float64
 17  is_h1n1_risky              26319 non-null  float64
 18  sick_from_h1n1_vacc        26312 non-null  float64
 19  is_seas_vacc_effective     26245 non-null  float64
 20  is_seas_risky              26193 non-null  float64
 21  sick_from_seas_vacc        26170 non-null  float64
 22  age_bracket                26707 non-null  object
 23  qualification              25300 non-null  object
 24  race                       26707 non-null  object
 25  sex                        26707 non-null  object
 26  income_level               22284 non-null  object
 27  marital_status             25299 non-null  object
 28  housing_status             24665 non-null  object
 29  employment                 25244 non-null  object
 30  census_msa                 26707 non-null  object
 31  no_of_adults               26458 non-null  float64
 32  no_of_children             26458 non-null  float64
 33  h1n1_vaccine               26707 non-null  int64
dtypes: float64(23), int64(2), object(9)
memory usage: 6.9+ MB

In [7]:
df.describe()

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,has_health_insur,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,no_of_adults,no_of_children,h1n1_vaccine
count,26707.000000,26615.000000,26591.000000,26636.000000,26499.000000,26688.000000,26665.000000,26620.00000,26625.000000,26579.000000,...,14433.00000,26316.000000,26319.000000,26312.000000,26245.000000,26193.000000,26170.000000,26458.000000,26458.000000,26707.000000
mean,13353.000000,1.618486,1.262532,0.048844,0.725612,0.068982,0.825614,0.35864,0.337315,0.677264,...,0.87972,3.850623,2.342566,2.357670,4.025986,2.719162,2.118112,0.886499,0.534583,0.212454
std,7709.791156,0.910311,0.618149,0.215545,0.446214,0.253429,0.379448,0.47961,0.472802,0.467531,...,0.32530,1.007436,1.285539,1.362766,1.086565,1.385055,1.332950,0.753422,0.928173,0.409052
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,6676.500000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,...,1.00000,3.000000,1.000000,1.000000,4.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,13353.000000,2.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,...,1.00000,4.000000,2.000000,2.000000,4.000000,2.000000,2.000000,1.000000,0.000000,0.000000
75%,20029.500000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,...,1.00000,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,1.000000,1.000000,0.000000
max,26706.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,3.000000,1.000000

# Checking for missing values

In [8]:
df.isnull().sum()

unique_id                        0
h1n1_worry                      92
h1n1_awareness                 116
antiviral_medication            71
contact_avoidance              208
bought_face_mask                19
wash_hands_frequently           42
avoid_large_gatherings          87
reduced_outside_home_cont       82
avoid_touch_face               128
dr_recc_h1n1_vacc             2160
dr_recc_seasonal_vacc         2160
chronic_medic_condition        971
cont_child_undr_6_mnths        820
is_health_worker               804
has_health_insur             12274
is_h1n1_vacc_effective         391
is_h1n1_risky                  388
sick_from_h1n1_vacc            395
is_seas_vacc_effective         462
is_seas_risky                  514
sick_from_seas_vacc            537
age_bracket                      0
qualification                 1407
race                             0
sex                              0
income_level                  4423
marital_status                1408
housing_status                2042
employment                    1463
census_msa                       0
no_of_adults                   249
no_of_children                 249
h1n1_vaccine                     0
dtype: int64

# There are a lot of missing values

# Treating missing values

In [9]:
mode = df.filter(df.columns).mode()

In [10]:
print(mode)

       unique_id  h1n1_worry  h1n1_awareness  antiviral_medication  \
0              0         2.0             1.0                   0.0
1              1         NaN             NaN                   NaN
2              2         NaN             NaN                   NaN
3              3         NaN             NaN                   NaN
4              4         NaN             NaN                   NaN
...          ...         ...             ...                   ...
26702      26702         NaN             NaN                   NaN
26703      26703         NaN             NaN                   NaN
26704      26704         NaN             NaN                   NaN
26705      26705         NaN             NaN                   NaN
26706      26706         NaN             NaN                   NaN

       contact_avoidance  bought_face_mask  wash_hands_frequently  \
0                    1.0               0.0                    1.0
1                    NaN               NaN                    NaN
2                    NaN               NaN                    NaN
3                    NaN               NaN                    NaN
4                    NaN               NaN                    NaN
...                  ...               ...                    ...
26702                NaN               NaN                    NaN
26703                NaN               NaN                    NaN
26704                NaN               NaN                    NaN
26705                NaN               NaN                    NaN
26706                NaN               NaN                    NaN

       avoid_large_gatherings  reduced_outside_home_cont  avoid_touch_face  \
0                         0.0                        0.0               1.0
1                         NaN                        NaN               NaN
2                         NaN                        NaN               NaN
3                         NaN                        NaN               NaN
4                         NaN                        NaN               NaN
...                       ...                        ...               ...
26702                     NaN                        NaN               NaN
26703                     NaN                        NaN               NaN
26704                     NaN                        NaN               NaN
26705                     NaN                        NaN               NaN
26706                     NaN                        NaN               NaN

       ...   race     sex               income_level  marital_status  \
0      ...  White  Female  <= $75,000, Above Poverty         Married
1      ...    NaN     NaN                        NaN             NaN
2      ...    NaN     NaN                        NaN             NaN
3      ...    NaN     NaN                        NaN             NaN
4      ...    NaN     NaN                        NaN             NaN
...    ...    ...     ...                        ...             ...
26702  ...    NaN     NaN                        NaN             NaN
26703  ...    NaN     NaN                        NaN             NaN
26704  ...    NaN     NaN                        NaN             NaN
26705  ...    NaN     NaN                        NaN             NaN
26706  ...    NaN     NaN                        NaN             NaN

       housing_status  employment                census_msa  no_of_adults  \
0                 Own    Employed  MSA, Not Principle  City           1.0
1                 NaN         NaN                       NaN           NaN
2                 NaN         NaN                       NaN           NaN
3                 NaN         NaN                       NaN           NaN
4                 NaN         NaN                       NaN           NaN
...               ...         ...                       ...           ...
26702             NaN         NaN                       NaN           NaN
26703             NaN         NaN                       NaN           NaN
26704             NaN         NaN                       NaN           NaN
26705             NaN         NaN                       NaN           NaN
26706             NaN         NaN                       NaN           NaN

       no_of_children  h1n1_vaccine
0                 0.0           0.0
1                 NaN           NaN
2                 NaN           NaN
3                 NaN           NaN
4                 NaN           NaN
...               ...           ...
26702             NaN           NaN
26703             NaN           NaN
26704             NaN           NaN
26705             NaN           NaN
26706             NaN           NaN

[26707 rows x 34 columns]

In [11]:
cols=df.columns

In [12]:
df[cols]=df[cols].fillna(df.mode().iloc[0])

In [13]:
 mode = df.filter(df.columns).mode()
 cols=df.columns
 df[cols]=df[cols].fillna(df.mode().iloc[0])

In [14]:
df.isnull().sum()

unique_id                    0
h1n1_worry                   0
h1n1_awareness               0
antiviral_medication         0
contact_avoidance            0
bought_face_mask             0
wash_hands_frequently        0
avoid_large_gatherings       0
reduced_outside_home_cont    0
avoid_touch_face             0
dr_recc_h1n1_vacc            0
dr_recc_seasonal_vacc        0
chronic_medic_condition      0
cont_child_undr_6_mnths      0
is_health_worker             0
has_health_insur             0
is_h1n1_vacc_effective       0
is_h1n1_risky                0
sick_from_h1n1_vacc          0
is_seas_vacc_effective       0
is_seas_risky                0
sick_from_seas_vacc          0
age_bracket                  0
qualification                0
race                         0
sex                          0
income_level                 0
marital_status               0
housing_status               0
employment                   0
census_msa                   0
no_of_adults                 0
no_of_children               0
h1n1_vaccine                 0
dtype: int64

In [15]:
df

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,"MSA, Principle City",1.0,0.0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",0.0,0.0,0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,Hispanic,Female,"<= $75,000, Above Poverty",Married,Rent,Employed,Non-MSA,1.0,0.0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,"MSA, Principle City",1.0,0.0,0

In [16]:
df.drop(["unique_id"],axis=1,inplace=True)

# Encoding

In [17]:
df.dtypes

h1n1_worry                   float64
h1n1_awareness               float64
antiviral_medication         float64
contact_avoidance            float64
bought_face_mask             float64
wash_hands_frequently        float64
avoid_large_gatherings       float64
reduced_outside_home_cont    float64
avoid_touch_face             float64
dr_recc_h1n1_vacc            float64
dr_recc_seasonal_vacc        float64
chronic_medic_condition      float64
cont_child_undr_6_mnths      float64
is_health_worker             float64
has_health_insur             float64
is_h1n1_vacc_effective       float64
is_h1n1_risky                float64
sick_from_h1n1_vacc          float64
is_seas_vacc_effective       float64
is_seas_risky                float64
sick_from_seas_vacc          float64
age_bracket                   object
qualification                 object
race                          object
sex                           object
income_level                  object
marital_status                object
housing_status                object
employment                    object
census_msa                    object
no_of_adults                 float64
no_of_children               float64
h1n1_vaccine                   int64
dtype: object

In [19]:
df=pd.get_dummies(df,columns=['housing_status'])

In [20]:
df.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,dr_recc_h1n1_vacc,...,marital_status_Married,marital_status_Not Married,employment_Employed,employment_Not in Labor Force,employment_Unemployed,"census_msa_MSA, Not Principle City","census_msa_MSA, Principle City",census_msa_Non-MSA,housing_status_Own,housing_status_Rent
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,1,0,1,0,0,0,1,1,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0,1,1,0,0,1,0,0,0,1
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,1,0,0,1,0,0,1,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0,1,0,1,0,0,1,0,0,1
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1,0,1,0,0,1,0,0,1,0

# Building Models

## 1.SGD

In [26]:
from sklearn.linear_model import SGDClassifier
x=df.drop(["h1n1_vaccine"], axis = 1)
y=df["h1n1_vaccine"]
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [27]:
sgd = SGDClassifier(loss="hinge", penalty="l2", max_iter=5)

In [28]:
sgd.fit(x_train, y_train)

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:574: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

SGDClassifier(max_iter=5)

In [29]:
sgd.score(x_train,y_train)

0.7400235369637317

In [30]:
sgd.score(x_test,y_test)

0.7373018844377885

### Checking if score can be imporoved using preprocessing scaling

### Standard scaling

In [31]:
from sklearn.preprocessing import StandardScaler    
scaler = StandardScaler()
scaler.fit(x_train)
x_train= scaler.fit_transform(x_train)    
x_test= scaler.transform(x_test)

In [32]:
sgd.fit(x_train, y_train)

C:\Users\sanke\anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:574: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn("Maximum number of iteration reached before "

SGDClassifier(max_iter=5)

In [33]:
sgd.score(x_train,y_train)

0.7925537605648871

In [34]:
sgd.score(x_test,y_test)

0.7860975914139523

#### We can se that there is 5% improvement in the score when standard scaling is used

# 2.Logistic Regression

In [37]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [39]:
predictions=model.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8308997878447523

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 52 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   h1n1_worry                              26707 non-null  float64
 1   h1n1_awareness                          26707 non-null  float64
 2   antiviral_medication                    26707 non-null  float64
 3   contact_avoidance                       26707 non-null  float64
 4   bought_face_mask                        26707 non-null  float64
 5   wash_hands_frequently                   26707 non-null  float64
 6   avoid_large_gatherings                  26707 non-null  float64
 7   reduced_outside_home_cont               26707 non-null  float64
 8   avoid_touch_face                        26707 non-null  float64
 9   dr_recc_h1n1_vacc                       26707 non-null  float64
 10  dr_recc_seasonal_vacc                   26707 non-null  float64
 11  chronic_medic_condition                 26707 non-null  float64
 12  cont_child_undr_6_mnths                 26707 non-null  float64
 13  is_health_worker                        26707 non-null  float64
 14  has_health_insur                        26707 non-null  float64
 15  is_h1n1_vacc_effective                  26707 non-null  float64
 16  is_h1n1_risky                           26707 non-null  float64
 17  sick_from_h1n1_vacc                     26707 non-null  float64
 18  is_seas_vacc_effective                  26707 non-null  float64
 19  is_seas_risky                           26707 non-null  float64
 20  sick_from_seas_vacc                     26707 non-null  float64
 21  no_of_adults                            26707 non-null  float64
 22  no_of_children                          26707 non-null  float64
 23  h1n1_vaccine                            26707 non-null  int64
 24  age_bracket_18 - 34 Years               26707 non-null  uint8
 25  age_bracket_35 - 44 Years               26707 non-null  uint8
 26  age_bracket_45 - 54 Years               26707 non-null  uint8
 27  age_bracket_55 - 64 Years               26707 non-null  uint8
 28  age_bracket_65+ Years                   26707 non-null  uint8
 29  qualification_12 Years                  26707 non-null  uint8
 30  qualification_< 12 Years                26707 non-null  uint8
 31  qualification_College Graduate          26707 non-null  uint8
 32  qualification_Some College              26707 non-null  uint8
 33  race_Black                              26707 non-null  uint8
 34  race_Hispanic                           26707 non-null  uint8
 35  race_Other or Multiple                  26707 non-null  uint8
 36  race_White                              26707 non-null  uint8
 37  sex_Female                              26707 non-null  uint8
 38  sex_Male                                26707 non-null  uint8
 39  income_level_<= $75,000, Above Poverty  26707 non-null  uint8
 40  income_level_> $75,000                  26707 non-null  uint8
 41  income_level_Below Poverty              26707 non-null  uint8
 42  marital_status_Married                  26707 non-null  uint8
 43  marital_status_Not Married              26707 non-null  uint8
 44  employment_Employed                     26707 non-null  uint8
 45  employment_Not in Labor Force           26707 non-null  uint8
 46  employment_Unemployed                   26707 non-null  uint8
 47  census_msa_MSA, Not Principle  City     26707 non-null  uint8
 48  census_msa_MSA, Principle City          26707 non-null  uint8
 49  census_msa_Non-MSA                      26707 non-null  uint8
 50  housing_status_Own                      26707 non-null  uint8
 51  housing_status_Rent                     26707 non-null  uint8
dtypes: float64(23), int64(1), uint8(28)
memory usage: 5.6 MB

# 3.Decision Tree

In [46]:
from sklearn.tree import DecisionTreeClassifier
dTree=DecisionTreeClassifier(criterion="gini",random_state=0,max_depth=5)
dTree.fit(x_train,y_train)
dTree.score(x_train,y_train)
dTree.score(x_test,y_test)

0.8262822912766754

In [47]:
dTree.score(x_train,y_train)

0.8347063228843479

# Result

#### SGD
Train Score:0.7925537605648871
  Test Score:0.7860975914139523

#### Logistic Regression
Accuracy Score:0.8308997878447523

#### Decision Tree
Train_Score:0.8347063228843479
    Test_Score:0.8262822912766754